.score-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.score-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  gap: 10px;
}

.voted-card {
  filter: grayscale(100%);
}

.selected-item-image {
  flex-shrink: 0;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;

  swiper-slide {
    height: auto;

    & img {
      object-fit: contain;
      max-height: 500px;
    }
  }
}

.score-panel {
  flex-grow: 1;
  width: 30%;
}

.active-card {
  transform: scale(0.9);
  outline: 2px solid red;
}

.score-slider {
  width: 100%;
}

.description-panel {
  flex-grow: 1;
  width: 30%;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  li {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-block: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 20px;

    .description-label {
      font-weight: bold;
      flex: 1;
    }

    .description-value {
      text-align: right;
    }
  }
}

.vote-items-container {
  padding: 20px;
  height: 300px;
}

.vote-item {
  width: 150px;
  height: 300px;
}

swiper-slide {
  width: auto;

  & button {
    border: none;
    padding: 0;
    cursor: pointer;
    transition: 0.3s transform ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .score-header {
    margin-bottom: 10px;

    .actions {
      width: 100%;
      flex-direction: column;
    }

    & button {
      width: 100%;
      font-size: 20px;
    }
  }

  .score-container {
    margin-top: 10px;
    gap: 10px;
  }

  .score-slider {
    width: 95%;
  }

  .score-panel {
    order: 2;
    width: 100%;
  }

  .selected-item-image {
    order: 1;
    width: 100%;
  }

  .description-panel {
    order: 3;
    width: 100%;
  }

  h2 {
    display: none;
  }

  ul {
    margin: 0;
  }

  .vote-items-container {
    padding: 10px;
    border-top: 1px solid var(--border-default);
    margin-top: 20px;
    height: 200px;
  }

  .vote-item {
    width: 100px;
    height: 200px;
  }
}
