:host {
  height: var(--header-height);
  border-bottom: 1px solid var(--border-default);
}

.logo {
  margin-left: auto;
  display: flex;
}

.right-panel {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}
