<div class="cards-container">
  @if (showResultsLink()) {
    <mat-card
      appearance="outlined"
      class="card-link"
      matRipple
      [routerLink]="['/', resultsRouterLink]">
      <mat-icon>gavel</mat-icon>
      <span>Results</span>
    </mat-card>
  }

  @for (item of cardLinks(); track $index) {
    <mat-card
      appearance="outlined"
      class="card-link"
      matRipple
      [routerLink]="['/', votePanelRouterLink]"
      [queryParams]="{ voteType: item.type }">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span>{{ item.title }}</span>
    </mat-card>
  }
</div>
